@model MonopolyWeb.Models.ViewModels.GameStatus

@using Microsoft.Web.Mvc
@using MonopolyWeb.Controllers
@using MonopolyWeb.Models.ViewModels
@{
  ViewBag.Title = "Your turn";
}

@section styles
{
  <style>
  .monopoly-board {
      height: 720px;
      width: 720px;
      background-image: url('../img/board.png');
      background-position: center center;
      position: relative;
    }
    .player-card {
      height: 160px;
    }

    .cash {

    }

    img.player-icon {
      float: left;
      padding: 3px;
    }

    img.player-totem {
      float: right;
      vertical-align: bottom;
    }

    @foreach (var player in Model.PlayerStatuses) {
      
<text>    img#player-@(player.PlayerNumber) {
      position: absolute;
      left: @(player.OffsetFromLeft)px;
      top: @(player.OffsetFromTop)px;
      }</text>

  } 


    .holdings {
      
    }
  </style>  
}

<div class="monopoly-board span9">
  <img class="player-totem" id="player-1" src="../img/dog.png" />
  <img class="player-totem" id="player-2" src="../img/horseman.png" />
  <img class="player-totem" id="player-3" src="../img/thimble.png" />
  <img class="player-totem" id="player-4" src="../img/shoe.png" />
</div>
@foreach (var player in Model.PlayerStatuses)
{
  <div class="player-card span3" id="player-@(player.PlayerNumber)">
    @if (player.IsHuman)
    {
    <img class="player-icon" src="../img/human_player.png" />
    }
    else
    {
    <img class="player-icon" src="../img/robot_scum.png" />
    }

    <h4>Rube</h4>
    <div class="cash">@player.Cash</div>
@*    <select>*@
@*      *@
@*    </select>*@
    @(Html.ListBoxFor(x => x.PlayerStatuses[0].Holdings, player.Holdings, new { @class = "holdings" }))
  </div>
}
<div class="span3">
  @using (Html.BeginForm<GameController>(x=>x.Roll()))
  {
    <input class="btn btn-large" type="submit" value="Roll" />
  }
  @using (Html.BeginForm<GameController>(x => x.BuyProperty()))
  {
    <input class="btn btn-large" type="submit" value="Buy ($100)" />
  }
</div>