@{
  ViewBag.Title = "About";
}

<div>
  <h2>About</h2>
  <p>
    Hello! I made this incomplete Monopoly demo app for a few reasons:
  </p>
  <ul>
    <li>An excuse to try out MVC 4 (or, the state of ASP.NET MVC in 2013)</li>
    <li>Try out automated web testing with a Selenium wrapper for .NET, because I really like capybara</li>
    <li>Try out Entity Framework, at least once</li>
    <li>Show a minimalist CQRS architecture (not the "all in" CQRS with event sourcing and events flying everywhere, just Commands and Queries)</li>
  </ul>
  <p>The background image on the home page is CC BY-NC from fir0002 | flagstaffotos.com.au</p>
</div>