@{
  ViewBag.Title = "About";
}

<div>
  <h2>About</h2>
  <p>
    Hello! I made this incomplete Monopoly demo app for a few reasons:
  </p>
  <ul>
    <li>An excuse to try out MVC 5 (or, the state of ASP.NET MVC in 2013). Specifically I want to try to do this without AJAX calls, even wherei it would be obvious to do so.</li>
    <li>
      Try out automated web testing with a Selenium wrapper for .NET, because I really like capybara.
      <ul><li>Side note: I may or may not try to use test builders, so far I haven't, but there's <strong>no telling what I'll do!</strong></li></ul>
    </li>
    <li>Try out Entity Framework, at least once.</li>
    <li>
      Show a minimalist CQRS architecture (not the "all in" CQRS with event sourcing and events flying everywhere, just Commands and Queries).
      <ul><li>Well, kinda. I also want to see how far I can get with an all-static, all singleton codebase.</li></ul>
    </li>
  </ul>
</div>