@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit" style="height: 400px; background-image: url('../img/Monopoly_board.jpg'); background-position: center center">
  <div><a href="NewGame" class="btn btn-success btn-large">Start a new game <i class="icon-white icon-arrow-right"></i></a></div>
</div>
