@using System.Linq
@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit" style="height: 400px; background-image: url('@Url.Content("~/img/Monopoly_board.jpg")'); background-position: center center">
  @if (User.Identity.IsAuthenticated)
  {
    <div><a href="/Game" class="btn btn-success btn-large">Resume Game</a></div>
  }
  else
  {
    <div><a href="/NewGame" class="btn btn-success btn-large">Start a new game <i class="icon-white icon-arrow-right"></i></a></div>
  }
  <form action="/account/logoff" method="POST">
    @Html.AntiForgeryToken()
    <input type="submit" value="Logoff"/>
  </form>
</div>
